// Key-file to define All Variables
// Font
$mukta: 'Mukta', sans-serif;

// Main Colors
$black: #000;
$dark-blue: #233D90;
$blue: #0475BC;
$lite-blue: #00A8E2;
$white: #FFF;
$main-color: $dark-blue;

// Secondary Colors
$default: #666666;
$dark: #233D90;
$warn: #F05A1D;
$info: #00A8E2;
$success: #06C9AB;
$primary: $blue;
$danger: #FC2600;
$quest: #CC146C;

// Variations Colors
$color-bkg-header: #F7FBFF;